@tailwind components;
@tailwind base;
@tailwind utilities;

/* @layer base {
  html,
  body,
  #__next {
    @apply h-full w-full p-0 m-0;
  }
} */

html,
body,
#__next {
  @apply h-full w-full p-0 m-0;
}

/* 
html {
  -webkit-tap-highlight-color: transparent;
}

:root,
[data-theme] {
  background-color: hsla(var(--b1) / var(--tw-bg-opacity, 1));
  color: hsla(var(--bc) / var(--tw-text-opacity, 1));
}

#component-demo {
  max-width: 100vw;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#component-demo > * {
  scroll-snap-align: center;
} */
